* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 40px 20px;
}
.cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.load-more {
  display: block;
  margin: 30px auto 0;
  width: 150px;
  font-size: 16px;
  outline: none;
  border: none;
  background-color: #ea8c10;
  color: #fff;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: .3s;
  &:hover{
    background-color: #bd680d;
  }
}
